.*
!.gitignore
!.perltidyrc

*~

log
blib
Makefile*
!Makefile.PL
*META.*
MANIFEST*
!MANIFEST.SKIP
pm_to_blib

debian/tmp
debian/files
debian/rex-malta*
debian/debhelper-build-stamp

Rexfile.lock
rex.log

