/var/log/nginx/*.log
{
    daily
    rotate 30
    maxage 30
    missingok
    compress
    delaycompress
    notifempty
    create 0640 www-data adm
    sharedscripts
    postrotate
        service nginx rotate >/dev/null 2>&1
    endscript
}

