Source: rex-helm
Section: admin
Priority: optional
Maintainer: Dmitry Krutikov <mitya@whteam.net>
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: rex (>= 1.4.0)
Standards-Version: 3.9.8
Homepage: https://github.com/bitnoize/rex-helm

Package: rex-helm
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
  rex (>= 1.4.0), pwgen, figlet, sipcalc
Description: My own high-level DevOps implementation on top of the Rex framework
