check process nginx
    pidfile /run/nginx.pid
    group www
    group nginx
    start program = "/usr/sbin/service nginx start"
    stop  program = "/usr/sbin/service nginx stop"
    if failed
        host <%= $nginx->{monit}{address} %>
        port <%= $nginx->{monit}{port} %>
        use type tcp protocol http request /nginx-status
        with timeout <%= $nginx->{monit}{timeout} %> seconds for 1 cycle
    then alert
    if 5 restarts with 5 cycles then timeout
    depend nginx_bin

check file nginx_bin
    with path /usr/sbin/nginx
    group nginx
    if failed checksum        then unmonitor
    if failed permission  755 then unmonitor
    if failed uid root        then unmonitor
    if failed gid root        then unmonitor

