# aptitude(8) - high-level interface to the package manager
# <%= Rex::Helm::header( ) %>

aptitude "";
aptitude::Keep-Unused-Pattern "";
aptitude::Delete-Unused-Pattern "";
aptitude::UI "";
aptitude::UI::HelpBar "false";
aptitude::UI::Minibuf-Prompts "true";
aptitude::UI::Incremental-Search "false";
aptitude::UI::Prompt-On-Exit "false";
aptitude::UI::Minibuf-Download-Bar "true";
aptitude::UI::InfoAreaTabs "true";
aptitude::UI::Advance-On-Action "true";
aptitude::Auto-Upgrade "true";
aptitude::AutoClean-After-Update "true";
aptitude::Forget-New-On-Update "true";
aptitude::Forget-New-On-Install "true";
Apt "";
Apt::Install-Recommends "false";

